body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 15px;
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}
:root {
  --bg: #ffffff;
  --text: #000000;
  --card: #f2f2f2;
  --btn-bg: #007BFF;
  --btn-color: #ffffff;
  --btn-hover: #0056b3;
  --icon-color: #007BFF;
}
.dark {
  --bg: #1e1e1e;
  --text: #f5f5f5;
  --card: #333333;
  --btn-bg: #0056b3;
  --btn-color: #ffffff;
  --btn-hover: #004085;
  --icon-color: #007BFF;
}
.container {
  max-width: 500px;
  margin: auto;
}
.card {
  background: var(--card);
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.card div button {
  flex: 0 0 40px;   /* fixed square */
  width: 40px;
  height: 46px;
  font-size: 1.2em;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  line-height: 40px;
  border-radius: 8px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.header h1 {
  font-size: 1.5em;
  margin: 0;
}
.dark-mode-toggle {
  font-size: 1.3em; /* slightly smaller */
  cursor: pointer;
  color: var(--icon-color);
  transition: transform 0.3s;
}
.dark-mode-toggle.active {
  transform: rotate(360deg);
}
button {
  padding: 14px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  transition: 0.2s;
  width: 100%;
  margin-top: 5px;
}
button:hover { background-color: var(--btn-hover); }
input, select {
  padding: 12px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
}
.habit-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  flex-wrap: wrap;
}
.habit-item button {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  font-size: 1.2em;
  padding: 0;
  margin: 2px;
  text-align: center;
  line-height: 40px;
}
.habit-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 days */
  gap: 5px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.habit-cell {
  width: 100%;
  padding-top: 100%; /* square aspect ratio */
  position: relative;
  border-radius: 5px;
}

.habit-cell span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.8em;
  color: #fff;
  font-weight: bold;
}

.habit-name {
  font-weight: bold;
  margin-bottom: 3px;
}
.day-labels {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
}
